@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap");
html,
body {
    height: 100%;
}

h4 {
    font-family: "Lemonada", cursive;
}

.weather-component {
    height: 38em;
}

#glify {
    height: 16em;
    width: 20em;
}