.sunny {
    background: #cac531;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f3f9a7, #cac531);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f3f9a7, #cac531);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sun-clouds {
    background: #1c92d2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.night-clouds {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cloudy {
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2F80ED, #56CCF2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dark-clouds {
    background: #304352;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #d7d2cc, #304352);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #d7d2cc, #304352);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dark-clouds-raining {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.raining-with-sun {
    background: #D1913C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFD194, #D1913C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFD194, #D1913C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.night {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}